body {
	display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
	font-size: 1.4em;
	margin-top: 1.0em;
	margin-bottom: 0.2em;
}

div.leftcol {
	width: 50%;
	float: left;
}

div.rightcol {
	width: 50%;
	float: right;
}

div.radioarray {
	margin-top: 0.5em;
	margin-bottom: 1.5em;
	line-height: 1.5em;
}

div.radioarray > input[type="text"] ,
div.radioarray > input[type="number"] {
	vertical-align: middle;
	margin-left: 1em;
	padding: 0;
	height: 1.5em;
}

div.radioarray input[type="radio"] {
	vertical-align: middle;
	margin: 0;
	margin-left: 2em;
	width: 1.5em;
	height: 1.5em;
}

div.radioarray label {
	vertical-align: middle;
	line-height: 1.5em;
	padding-left: 0.2em;
}

div.radiorow {
	margin-top: 0.2em;
	margin-bottom: 0.8em;
}

label.radiobegin, label.radioend {
	display: inline-block;
	width: 8em;
	height: 1.5em;
	vertical-align: top;
	line-height: 2em;
}

label.radiobegin {
	text-align: right;
	padding-right: 0.5em;
}

label.radioend {
	text-align: left;
	padding-left: 0.5em;
}

div.radiogroup {
	position: relative;
	display: inline-block;
	text-align: center;
}

div.radiogroup input[type=radio] {
	position: absolute;
	text-align: center;
	margin: 0;
	width: 1.5em;
	height: 1.5em;
	left: 0.6em;
	top: 0.5em;
}

div.radiogroup label {
	display: table-cell;
	vertical-align: bottom;
	width: 2em;
	height: 3em;
	line-height: 1em;
	text-align: center;
}
