<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <title>AttentionUI Prototype 0.1</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
           //Empty namespace because we use single channel
            namespace = '';

            //Connect to Socket.IO server
            var socket = io(namespace)

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.send('I\'m connected!');
            });
            socket.on('end', function () {
                window.location.href = "/";
                return false;
            })


            // Handler for starting the User Study
            $('button#end').click(function (event) {
                if (document.getElementById('checkbox').checked) {
                    socket.emit('end');
                    return false;
                }
            });

        });
    </script>
</head>
<body>
<style>
    .content {
    position: absolute;
        top: 0%;
        left: 5%;
        right: 5%;
    margin: auto;
        padding-bottom: 5%;
    }
</style>
<div class="centerContent"><div>
    <h1>Post-Interview</h1>
    <p>Vielen Dank fuer die Teilnahme an unserer Nutzerstudie. <br> Zum Schluss haben wir noch ein paar Fragen an Sie. <br>Anschliessend erhalten Sie Ihre Entlohnung.</p>
    <input id="checkbox" type="checkbox" name="payment">&nbsp;
    Zahlung erhalten &nbsp;&nbsp;
    <button id="end" type="button" style="float: right;">End Study</button> <br>
</div></div>
</body>
</html>
