<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <title>AttentionUI Prototype 0.1</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
           //Empty namespace because we use single channel
            namespace = '';

            //Connect to Socket.IO server
            var socket = io(namespace)

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.send('Startpoint connected!');
            });
            socket.on('advertisement', function () {
                window.location.href = "/advertisement";
                return false;
            });

            document.body.style.cursor = 'none';
            setTimeout(function ()  {
                socket.emit('advertisement')
            },3000);
        });
    </script>
</head>
<body>
<div class="centerContent">
<span class="dot"></span>
</div>
</body>
</html>
